#map {
    background-color: #303237;
    border-radius: 3em;
    padding: 5% 6%;
    margin: 10% 5%;
}

#progress-container {
    position: relative;
}

.station-container {
    z-index: 1;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr;
    position: relative;
}

.names-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: rotate(6deg);
    margin-top: 1em;
}

.names-container p {
    margin: 0 0 1%;
    text-align: left;
}

.station {
    margin: 0 2em 0 3em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #303237;
    border: 5px solid #ffffff;
}

.station:hover {
    background-color: #ea1e78;
}

.comment {
    color: #ffffff7a;
    width: 90%;
}

#progress-bar {
    position: absolute;
    z-index: 0;
    top: 0;
    transform: translate(3.8em, 0%);
    background-color: #ffffff;
    height: 85%;
    width: 0.5em;
    border-radius: 0.5em;
}

#here-station-container {
    display: flex;
}

#here-station-container i {
    font-size: 2em;
    animation: blueGlow 1.8s, move 1.8s;
    padding-bottom: 0.5em;
    animation-iteration-count:infinite;
}

@keyframes move {
    0% {
        transform:  translate(-0.2em, 0);
    }
    50% {
        transform:  translate(0em, 0);
    }
    100% {
        transform:  translate(-0.2em, 0);
    }
}

#here-station {
    background-color: #ea1e78;
    margin: 0 0 0 1.3em;
}

/* @keyframes pinkGlow {
    0% {
        box-shadow:
        none 
    }
    50% {
        box-shadow:
        0 0 0.4em #e093b5,
        0 0 0.8em #ec609d, 
        0 0 1.6em #ea1e78, 
        0 0 3.2em #ea1e78; 
    }
    100% {
        box-shadow:
       none 
    }
} */

#here-name {
    animation-name: blueGlow;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

@keyframes blueGlow {
    0% {
        text-shadow:
        none 
    }
    50% {
        text-shadow:
        0 0 0.4em rgb(0, 225, 255),
        0 0 0.8em rgb(0, 225, 255), 
        0 0 1.6em rgb(0, 255, 255); 
    }
    100% {
        text-shadow:
       none 
    }
}



/* #progress-container ul {
    list-style: none;
    padding: 0;
}

#stations {
    list-style: none;
    position: relative;
    padding: 0;
}

#station-names {
    padding-left: 4em;
}

#station-names li {
    padding-left: 3em;
    transform: rotate(8deg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.2em;
}

#station-names p {
    margin-bottom: 0;
    text-align: left;
}

#stations li {
    margin-bottom: 2em;
    width: 3em;
    height: 3em;
    z-index: 1;
    border-radius: 50%;
    position: relative;
}

.station-full {
    background-color: #ffffff;
}

.station-full:hover {
    background-color: #303237;
    border: 5px solid #ffffff;
}

.station-empty {
    border: 5px solid #ffffff;
    background-color: #303237;
}

.comment {
    color: #ffffff7a;
}

#progress-bar {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 44%;
    background-color: #ffffff;
    height: 100%;
    width: 0.5em;
    border-radius: 0.5em;
} */
