input[type=email] {
    display: inline-block;
    height: 100%;
    border-radius: 3em;
    border: 0;
}

input::placeholder {
    font-size: 0.8em;
}

input:focus::placeholder {
    color: transparent;
}

#subscribe-button {
    padding: 0.5em 1.5em;
    font-size: 0.8em;
    /* padding: 3% 8%;
    margin: 5% auto;
    font-size: 0.9em;
    background-color: #ea1e78;
    border: 0;
    color: #ffffff;
    border-radius: 3%; */
}