#main {
    padding-top: 1%;
    background: #1c1e21;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eltaskyline {
<<<<<<< HEAD
    /* background-color: #176072; */
    background: rgb(90,140,153);
    background: linear-gradient(0deg, rgba(90,140,153,1) 0%, rgba(53,98,110,1) 36%, rgba(36,69,69,1) 83%);
=======
    background-color: #176072;
    margin-bottom: -1px;
>>>>>>> 4a10d2f85988a7cec35290627fd821659fd3fea1
}

#page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}