#main {
    padding-top: 1%;
    background: #1c1e21;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eltaskyline {
    background-color: #176072;
    margin-bottom: -1px;
}

#page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}