#main {
    background: #1c1e21;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

#eltaskyline {
    background-color: #176072;
}

#page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}