* {
  margin: 0;
}

body {
  /* background-color: #176072; */
  background-color: #121212;
  /*   NIGHT  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  /* MORNING background: linear-gradient(to right, #FFC371, #FF5F6D); */
  /* overflow: hidden; */
  /* height: 100%; */
  font-family: "Raleway", sans-serif;
  color: #e9e9e9;
}

#root {
  height: 100%;
}

button:focus {
  outline: none;
}

.button-design {
  border-radius: 3em;
  background-color: #ff4093;
  border: none;
  color: #fff;
  white-space: nowrap;
  font-size: 1em;
  padding: 1% 2%;
}

.button-design a {
  color: #fff;
}

.button-design:hover {
  background-color: #ea1e76cb;
}

.h-container {
  margin-top: 8%;
}

h2 {
  font-size: 2em;
  width: 60%;
  margin: 3% auto;
}

h2,
h3,
h4 {
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  width: 60%;
  margin: 3% auto;
}

h4 {
  font-size: 1.1em;
  width: 40%;
  margin: 3% auto;
}

p {
  font-weight: 500;
  font-size: 0.9em;
  text-align: center;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a {
  color: #dbdadadc;
  font-size: 0.9em;
}

a:hover {
  color: #ffffff;
}

.strike {
  text-decoration: line-through;
}

.animated {
  opacity: 0;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

.ref-wrapper {
  padding-top: 8%;
}
