#worlds-container {
  padding: 0 3%;
  /* margin: 10% auto 0; */
  transition: opacity 1s ease-in-out, transform 1s;
  transition-delay: 0.2s;
}

@media only screen and (max-width: 768px) {
  #tracks {
      width: 90%;
      margin: 30% auto;
    }
  
  #worlds-container {
      padding: 0%;
    }
}