#tracks #worlds-container {
    padding: 0 3%;
}

#tracks .world {
    background-color: #1a1919;
    border-radius: 3%;
    padding: 2%;
    width: 75%;
    margin: 3% auto;
    display: flex;
    justify-content: center;
}

#tracks .world img {
    margin: 0;
    width: 40%;
    padding: 0 4%;
}

#tracks .world-text {
    width: 45%;
}

#tracks p {
    width: 95%;
    margin: 6% auto 0;
}

#tracks #tracks-button {
    animation-delay: 4s;
}

#modern-world {
    animation-delay: 1s;
}

#ancient-world {
    animation-delay: 2s;
}

#imaginarium {
    animation-delay: 3s;
}

#modern-world-header {
    text-shadow: 
    0 0 0.4em rgb(0, 225, 255),
    0 0 0.8em rgb(0, 225, 255), 
    0 0 1.6em rgb(0, 255, 255);   
}

#ancient-world-header {
    text-shadow: 
    0 0 0.4em rgb(0, 225, 255),
    0 0 0.8em rgb(0, 225, 255), 
    0 0 1.6em rgb(0, 255, 255);    
}
#imaginarium-header {
    text-shadow: 
    0 0 0.4em rgb(0, 225, 255),
    0 0 0.8em rgb(0, 225, 255), 
    0 0 1.6em rgb(0, 255, 255); 
}

/* @media only screen and (min-width: 1024px) {
    #tracks h3 {
        margin: 1% auto 3%;
    }

    #tracks #tracks-button-wrap {
        margin: 1.5% 0 1%;
    }

}


@media only screen and (min-width: 1440px) {
    #tracks h3 {
        font-size: 2em;
    }

    #tracks .world img {
        width: 80%;
    }

    #tracks p {
        font-size: 1em;
    }

    #tracks #tracks-button-wrap {
        margin: 1% 0 1%;
    }
} */