#world {
  background-color: #1a1919;
  border-radius: 3em;
  width: 85%;
  margin: 0 auto;
}

#tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  border-bottom: 3px solid #303237;
  width: 80%;
  margin: 0 auto;
}

.tab-title {
  padding: 10% 5%;
  cursor: pointer;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  align-items: center;
  padding: 5%;
}

.text-container {
  padding: 2% 5%;
}

.text-container p {
  text-align: left;
}

#world img {
  width: 90%;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.41);
  margin: 5% auto;
}

.baseline {
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  #world {
    background-color: #121212;
    width: 100%;
  }
  
  .world-container {
    background-color: #1a1919;
    border-radius: 2em;
    margin-bottom: 1.5em;
  }

  #tabs {
    padding-top: 5%;
    display: block;
    border-bottom: none;
  }

  .tab-title {
    padding: 1em 0;
    cursor: pointer;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

  #world img {
    width: 100%;
    margin: 0% auto 5%;
  }

  #world p {
    text-align: center;
    margin: 1em auto;
  }
  .baseline {
    padding-top: 1.2em;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    align-items: center;
    padding: 5%;
  }
}
