.h-container i {
    display: block;
    text-align: center;
    animation-name: stim;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    transition: opacity 2s ease-in-out;
    cursor: pointer;
}

#concept-button {
    display: inline-block;
    outline: none;
}