#concept i {
    display: block;
    text-align: center;
    animation-name: stim;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    transition: opacity 2s ease-in-out;
    cursor: pointer;
}

@keyframes stim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}


#concept li {
    list-style: none;
}
  
#how-items-container {
    display: grid;
    width: 70%;
    grid-template-columns: 1.3fr 0.7fr;
    margin: 6% auto 0;
    transition: opacity 1s ease-in-out,
                transform 1s;
    transition-delay: 0.2s;

}

#principles {
    border-right: solid 1px #303237;
}

#principles ul {
    padding: 0;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    height: 100%;
    row-gap: 2%;
}

#principles li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 3% 0;
}

#principles li:hover {
    background-color: #303237;
}

#principles img {
    margin-bottom: 5%;
    width: 3em;
}

#principles p {
    width: 60%;
    text-align: center;
}

#implementations li {
    display: flex;
    margin-top: 5%;
    align-items: center;
}

#implementations p {
    text-align: left;
    font-size: 0.8em;
}

#implementations img {
    width: 2em;
    height: 2em;
    margin: 0 10% 6% 0;
}

li.off img {
    filter: grayscale(100%) brightness(50%);
}

li.off p {
    color: #595b63;
}

#concept-button {
    display: inline-block;
}

/* @media only screen and (min-width: 1024px) {
    #concept h3 {
        font-size: 2em;
    }

    #concept p {
        font-size: 1.1em;
    }

    #concept img {
        width: 40%;
    }
}

@media only screen and (min-width: 1440px) {
    #concept h3 {
        font-size: 2em;
    }

    #concept img {
        width: 30%;
    }

    #concept p {
        font-size: 1.1em;
    }
} */