#concept li {
    list-style: none;
}
  
#how-items-container {
    display: grid;
    width: 80%;
    grid-template-columns: 1.3fr 0.7fr;
    margin: 5% auto;
}

#principles ul {
    padding: 0;
    border-right: solid 1px #303237;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 8%;
    height: 100%;
}

#principles li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principles img {
    margin-bottom: 5%;
    width: 3em;
}

#principles p {
    width: 60%;
    text-align: center;
}

#implementations li {
    display: flex;
    margin-top: 5%;
    align-items: center;
}

#implementations li p {
    text-align: left;
    color: #595b63;
}

#implementations img {
    filter: grayscale(100%);
    width: 2em;
    height: 2em;
    margin: 0 10% 6% 0;
}

#implementations li p {
    text-align: left;
    color: #595b63;
}

#concept h3 {
    width: 60%;
}

#concept-button-wrap {
    margin: 5% 0 3%;
    text-align: center;
}

#concept-button {
    display: inline-block;
}

/* @media only screen and (min-width: 1024px) {
    #concept h3 {
        font-size: 2em;
    }

    #concept p {
        font-size: 1.1em;
    }

    #concept img {
        width: 40%;
    }
}

@media only screen and (min-width: 1440px) {
    #concept h3 {
        font-size: 2em;
    }

    #concept img {
        width: 30%;
    }

    #concept p {
        font-size: 1.1em;
    }
} */