/* -------- General -------- */

nav {
    padding: 0.5% 1%;
    align-items: center;
    background-color: #303237;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 1fr 0.2fr;
    flex-wrap: nowrap;
    border-bottom: solid 1px #4c5057;
    font-size: 0.9em;
}

#logo {
  grid-column: 1;
  padding: 0;
}

#logo img {
  width: 80%;
}

#nav-links {
  grid-column: 3;
  display: flex;
}

#nav-links a {
  margin-right: 5%;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-button {
  grid-column: 4;
  padding: 0.5em 1.5em;
}

.active {
  color:#ffffff !important;
  border-bottom: 1px solid #fff;
}


/* @media only screen and (min-width: 768px) {
  #nav-links {
    font-size: 0.9em;
  }
  #nav-button {
    font-size: 0.9em;
  }  
}

@media only screen and (min-width: 1024px) {
  #nav-links {
    font-size: 0.9em;
  }
  
  #nav-button {
    font-size:0.9em;
  }  
}

@media only screen and (min-width: 1440px) {
  #nav-button {
    font-size: 0.9em;
  }  
} */



/* -------- Mobile -------- */

/* nav {
    padding: 4% 0;
}
  
nav #logo {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#nav-button {
  padding: 3% 5%;
  width: 48%;
  margin: 0 auto;
} */