#step-1 {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

#input-container {
  text-align: center;
}

#input-container input {
  width: 30%;
  display: block;
  margin: 0 auto 2%;
}

#input-container p {
  margin-top: 3%;
  text-decoration: underline;
}

.regular-steps {
  width: 80%;
  margin: 0 auto;
}

/* #signup h3 {
    margin-bottom: 10%;
}

#steps-container {
    display: flex; 
    margin: 0 auto 5%;
    padding: 0 6%;
}

.regular-colums {
    width: 50%;
    margin: 0 2%;
}

#steps-container div h4 {
    text-align: center;
}

#steps-container div p {
    text-align: center;
    font-size: 0.8em;
}

#step-1 {
    margin-right: 2%;
    width: 60%;
    display: grid;
    grid-template-rows:  0.3fr 2.4fr 0.5fr auto;
}

#text-and-arrow-container {
    grid-row: 2;
    margin: 2% auto 0;
    animation-name: stim;
    animation-duration: 1.2s;
    animation-iteration-count:infinite;
}

#arrow-container {
    grid-row: 3;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#arrow {
    border-right: dashed 2px #c0c0c0;
}

#arrow-down-container {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#signup i {
    grid-column: 2;
    border: solid #c0c0c0;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    width:3%;
    margin: 0 auto;
}

#mail-input-container {
    margin-top: 2%;
    grid-row: 3;
    padding-top: 10%;
    text-align: center;
}

.notification {
    animation-name: fadeInNotification;
    animation-duration: 5s;
    border-radius: 2%;
    display: flex;
    padding: 5%;
    color: #ffffff;
    margin-top: 3%;
}

.notification p {
    align-self: center;
}

@keyframes fadeInNotification {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
}

.success {
    margin-top: 10%;
    background-color: #ea1e78;
}

.failure {
    background-color: #999999;
}

@keyframes stim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

#step-4 {
    width: 70%;
}

#signup img {
    display: block;
    margin: 12% auto;
    width: 65%;

} */
