#input-container {
  text-align: center;
}

#input-container input {
  width: 30%;
  display: block;
  margin: 0 auto 2%;
}

#input-container p {
  margin-top: 3%;
  text-decoration: underline;
  cursor: pointer;
}
